{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('topic_new') }}">Créer un topic</a>
    </p>

    {% for topic in topics %}
        <p>
            {{ topic.name }}<br>
            {{ topic.createdAt | date('d/m/Y H:i') }}<br>
        </p>
        <p>
            <a href="{{ path('topic_show', {'slug': topic.slug}) }}">Afficher</a>
        </p>
    {% endfor %}
{% endblock %}
