{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block body %}
    {% for topic in topics %}
        <p>
            {{ topic.name }}<br>
            {{ topic.createdAt | date('d/m/Y H:i') }}
        </p>
    {% endfor %}
{% endblock %}
